*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #676770;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 21px;
}
.logo {
  padding-top: 11px;
}
.menu__list {
  display: flex;
  gap: 40px;
  margin-top: 8px;

  font-size: 16px;
  line-height: 20px;
  color: #676770;
  &-link:hover {
    color: #0082f3;
  }
}

.header__content {
  background-image: url("../images/header-bg.webp");
  max-width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.btn {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px 12px 30px;
  border-radius: 4px;
  transition: all 0.3s;
}
.header {
  &__content {
    position: relative;
  }
  &__box {
    display: flex;
    justify-content: center;
    padding-top: 106px;
    gap: 20px;
  }
  &__title {
    font-size: 59px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 184px;
  }
  &__btn {
    background: #69b9ff;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: rgb(63, 163, 250);
    }
    &-link {
      border: 1px solid #fff;
      &:hover {
        border: 1px solid #000;
        color: #000;
      }
    }
  }
}

// POP-UP
.pop-up {
  display: none;
  align-self: start;
  width: 530px;
  height: 224px;
  align-items: end;
  text-align: center;
  padding-top: 15px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 184px;
  transition: all 0.3s;
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 34px;
    line-height: 36px;
    color: #69b9ff;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  &__input {
    padding: 10px 30px 12px 30px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 25px;
      color: #676770;
    }
  }
  &__btn {
    border: none;
    background: #69b9ff;
    cursor: pointer;
    &:hover {
      background: #3fa3fa;
    }
  }
  .close {
    background: #ff698b;
    &:hover {
      background: #c36279;
    }
  }
}
.btn__box {
  display: grid;
  gap: 12px;
  padding: 12px px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background: #f1f5f8;
  height: 80px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 21px;
}
.pop-up.active {
  display: block;
}

.about {
  padding-top: 78px;
  margin-bottom: 80px;
  &__img {
    width: 94px;
    height: 94px;
    padding-bottom: 14px;
  }
  &__title {
    font-size: 30px;
    line-height: 36px;

    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #676770;

    padding-bottom: 17px;
  }
  &__text {
    font-size: 17px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #8e8e9c;
    margin-bottom: 62px;
  }
  &__inner {
    display: flex;
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding-top: 36px;
    padding-left: 30px;
    padding-right: 30px;
    background: #ffffff;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    &-title {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 7px;
      text-transform: uppercase;
      color: #676770;
      padding-bottom: 14px;
    }
    &-text {
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      color: #6a859c;
      padding-bottom: 23px;
    }
  }
}
